{{define "container"}}<table class="container alt2">
    <tbody>
        <tr>
            <td style="border-bottom-width: 20px;">
                <h3 class="major">Adventure Search</h3>
            </td>
        </tr>
        <tr>
            <td>
                <h4 class="major" style="line-height: 2; margin: 0;">
                    <a id="storyname" class="major">-</a>
                </h4>
            </td>
        </tr>
        <tr>
            <td id="pages" style="font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 14px; display: none;"></td>
        </tr>
    </tbody>
</table>{{end}}{{template "layout.html" .}}