{{define "container"}}<div id="container">
    <div id="slide">
        <div id="command"></div>
        <div id="content"></div>
        <div id="foot">
            <div id="links"></div>
            <br>
            <br>
            <span id="prevlinks" style="display: none;">
                <span class="footlinks">
                    <a id="startover">Start Over</a><span> | <a id="goback">Go Back</a></span>
                </span>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            </span>
            <span id="gamelinks" style="display: none;">
                <span class="footlinks">
                    <a id="savegame" href="javascript:void(0);">Save Game</a> | <a id="loadgame" href="javascript:void(0);">Load Game</a> | <a id="deletegame" href="javascript:void(0);">Delete Game Data</a>
                </span>
            </span><br>
            <br>
        </div>
    </div>
    <div id="info"></div>
</div>{{end}}{{template "layout.html" .}}